/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require scaffolds
 *= require markdown
 *= require items
 *= require button-styles
*/

@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);
#heedfeed {
  font-family: 'Goudy Bookletter 1911', serif;
  font-size: 72px;
  color: #555;
  font-variant: small-caps;
}

#heedfeed a { text-decoration: none; }
#heedfeed a:hover, a:focus { background-color: #fff; color: #555 }
#heedfeed a span { font-size: 20px; }